*{
	padding:  0;
	margin:  0;
	box-sizing: border-box;
}

body, html{
	position: relative;
	width:  100%; height: 100%;
	overflow: hidden;
}

.container{
	position: relative;
	width: 100%; height: 100%;

	display:  flex;
	justify-content: center;
	align-items: center;

	transform: scale(1.5);
}

.game {
	position: relative;
	width: 720px;
	height: 360px;
	background: black;
	border: 1px solid black;
}

.game .row{
	position: relative;
	width: 720px; height: 18px;

	display: flex;
	flex-direction: row;
}

.game .row div{
	position: relative;
	width: 18px; height: 18px;
	margin: 0; padding: 0;
	/*background: red;
	border: 1px solid white;*/
}

.displayScreen{
	position: absolute;
	bottom: 0px; left: 0;
	width: 100%; height: 36px;
	padding: 10px 20px;
	color: white;
	font-family: verdana;
	background: black;
	z-index: 999;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.displayScreen .life{
	position: relative;
	width: 110px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.crop {
    width: 57px;
    height: 18px;
    overflow: hidden;
}

.lives{
	position: relative;
}

/* Objects */

#pacman{
	position: absolute;
	background: url("./../img/player.gif") center center no-repeat;
	width: 18px; height: 18px;
	opacity: 1;

	transform-origin: center center;
	transform: rotate(0deg) scaleX(1);
	transition: opacity .500s ease;
}
#ghost{
	position: absolute;
	background: url("./../img/ghost.gif") center center no-repeat;
	width: 18px; height: 18px;
	transition: top .5s ease, left .5s ease;
}
.obj0{
	position: absolute;
	width: 18px; height: 18px;
}
.obj1{
	position: absolute;
	background: darkblue;
	width: 18px; height: 18px;
	border: 1px solid blue;
}
.obj2{
	position: absolute;
	background: url("./../img/coin.gif") center center no-repeat;
	width: 18px; height: 18px;
}
.obj3{
	position: absolute;
	background: url("./../img/cherry.gif") center center no-repeat;
	width: 18px; height: 18px;
}
.obj4{
	position: absolute;
	width: 18px; height: 18px;
}
.obj5{
	position: absolute;
	width: 18px; height: 18px;
}


/* MENU */
.menu{
	position: absolute;
	top: 50%; left: 50%;
	color: white;
	width: 400px;
	text-align: center;

	z-index: 99;
	transform: translate(-50%, -50%);

	font-family: verdana;

	display: flex;
	justify-content: space-around;
	align-items: center;

}
.menu button{
	position: relative;
	padding: 5px 20px;
	border: none;
	border-radius: 10px 5px 10px 5px;
}
.menu button:hover{
	position: relative;
	background: rgba(225,225,225,0.5);
	user-select: none;
	cursor: pointer;
}

.menu .option{
	display: none;
	flex-gap: 40px;
}

.menu.start{
	animation: fadeout 1s forwards;
	transition: all .2s ease;
}

.menu.end{
	animation: fadeIn 1s forwards;
	transition: all .2s ease;
}

@keyframes fadeout{
	0%{
		left: 50%;
		display: flex;
		opacity: 1;
	}
	99%{
		left: 50%;
		display: flex;
		opacity: 0;
	}
	100%{
		display: none;
		opacity: 0;
		left: -999px;
	}
}

@keyframes fadeIn{
	0%{
		display: none;
		opacity: 0;
		left: -999px;
	}
	1%{
		left: 50%;
		display: flex;
		opacity: 0;
	}
	100%{
		left: 50%;
		display: flex;
		opacity: 1;
	}
}		