*{padding: 0; margin: 0; box-sizing: border-box;}
body, html {position: relative; width: 100%; height: 100%; font-size: 1em;}

/* Containers */
.container{
	position: relative;
	width: 100%; height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .gameSpace{
	position: relative;
	width: 35%; height: 70%;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
	overflow: hidden;
}
.container .gameSpace .game{
	position: relative;
	width: 60%; height: 100%;
	background: black;
}
.container .gameSpace .display{
	position: relative;
	width: 40%; height: 100%;
	padding: 5px 20px;

	background: url('./../img/bg.jpg') repeat;
	background-size: 200px 100px;
	border-left: 10px double darkcyan;
	border-right: 10px double darkcyan;

	user-select: none;
}

/* Game */
.game .startGame{
	position: relative;
	width: 100%; height: 100%;

	display: flex; /* Flex */
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
	font-size: 1.5em;
	font-family: verdana;
	text-transform: uppercase;
}
.game .startGame button{
	position: relative;
	padding: 2px 10px;
}

/* Display */
.display img{
	position: relative;
	width: 100%;
	padding: 40px 0;
}
.display div{
	position: relative;
	padding: 10px 0;

	color: white;
}
.display div fieldset{
	position: relative;

	background: black;

	font-size: 1.1em;
	font-family: verdana;
	text-transform: uppercase;
	text-shadow: 0 0 5px black;
	-webkit-text-stroke: .5px darkcyan;

	border: 4px double darkcyan;
}
.display div fieldset p{
	position: relative;
	text-indent: 10px;

	font-size: 0.9em;
	-webkit-text-stroke: 0px black;
}
.display .nextImg{
	position: relative;
	margin: auto;

	background: url("./../img/block.png") no-repeat 99px 99px;
	width: 134px;
	height: 89px;

	transform: scale(0.6);
}

/* Tetris Game */
.tetris{
	position: relative;
	width: 220px; height: 480px;
	margin: 25px auto;

	background: black;
	border: 2px double grey;
}
.tetris .area{
	position: absolute;
	top: -2px; left: -2px;
	width: 220px; height: 480px;
}
.tetris .obj{
	position: absolute;
	top: -2px; left: -2px;
	width: 220px; height: 480px;
}
.tetris .obj .objPiece{
	position: absolute;
	top: 0; left: 0;
	display: flex;
}
.tetris .area .row{
	position: relative;
	width: 220px; height: 24px;

	display: flex;
	flex-direction: row;
}
.tetris .area .row .block{
	position: relative;
	width: 22px; height: 24px;
	margin: 0; padding: 0;

	border: 1px dotted rgba(225,225,225,0.2);
}

.blue{
	background: blue;
	border: 4px outset darkblue !important;
}
.cyan{
	background: cyan;
	border: 4px outset darkcyan !important;
}
.orange{
	background: orange;
	border: 4px outset grey !important;
}
.lime{
	background: lime;
	border: 4px outset green !important;
}
.yellow{
	background: yellow;
	border: 4px outset gold !important;
}
.magenta{
	background: magenta;
	border: 4px outset purple !important;
}
.red{
	background: red;
	border: 4px outset maroon !important;
}