// variables
$font-colors:(
    primary: rgba(200, 200, 200, .8),
    highlight: rgb(255,255,255, .7),
);
$background-colors:(
    primary: rgba(80, 80, 80, 0.2),
    secondary: rgba(70, 70, 70, 0.4),
    // sub: 
    hover: rgb(100, 100, 100, .5),
);

// mixin
@mixin center-div {
    display: grid;
    justify-content: center;
}
@mixin flexible{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
@mixin flexible-d($f-type){
    display: flex;
    flex-direction: $f-type;
    justify-content: center;
}
// Main Body
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
    color: map-get($font-colors, primary);
}
body{
    background-color: black;
}
.container{
    background-color: map-get($background-colors, primary);
    margin: 0 auto;
    padding: 20px;
}

.headers{
    @include center-div;
    padding: 10px;
    h1{
        @include center-div;
        font-size: 42px;
        font-weight: 600;

        padding: 20px 0px;
    }
    h2{
        @include center-div;
        font-size: 36px;
        font-weight: 400;
    }
    .headers-info{
        margin: 2em auto;
        .para-h{
            font-size: 18px;
            font-weight: 400;
            b{
                color: map-get($font-colors, highlight);
            }
        }
    }
}

.valk-names{
    @include flexible;
    background-color: map-get($background-colors, secondary);
    padding: 1em 2em;
    border-radius: 20px;
    
    margin: 0 1em;
    a{
        text-decoration: none;
        text-align: center;
        background-color: rgb(50, 50, 50, .8);
        width: 200px;
        padding: 10px 20px;
        border-radius: 20px;
        margin: 5px;

        cursor: pointer;
        b{
            color: map-get($font-colors, highlight);
            i{
                color: map-get($font-colors, highlight);
            }
        }
    }
    a:hover{
        background-color: rgb(100, 100, 100, .5);
    }
}

.content{
    background-color: map-get($background-colors , secondary);
    padding: 1em 2em;
    border-radius: 20px;
    margin: 2em 1em;
    .container{
        @include flexible-d(row);
        padding: 20px 0px;
        width: 98%;
        overflow-x: scroll;
    }
    .valk-card{
        @include flexible-d(column);
        background-color: rgb(215, 45, 45);
        overflow: visible;
        margin: 0 1em;
        .img-div{
            height: 200px;
            width: 400px;
            overflow: hidden;
        }
    }
}


.n-table{
    display: table;
}